.main-banner {
  --padding: 2rem 1rem 3rem;
  --logo-height: 4rem;

  @include from(l) {
    --padding: 5rem 1rem 6rem;
    --logo-height: 8rem;
  }
  padding: var(--padding);
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position: relative;
  &__logo {
    height: var(--logo-height);
    display: block;
    margin: 0 auto 0.5rem;
  }
  &__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; //esta propiedad es para co ntenido no para fondos
    object-position: top top;
    opacity: 0.1;
  }
  &__content {
    position: relative;
    // no se necesita colocar z-index porque recordando el stacking context,
    // los elementos que vienen despues, en este caso __content, se superponen
    // encima de los demas unicamente cambiando su position
    // en este caso se va a superponer por encima de __hero-image
  }
}
