.main-menu {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;

  @include from(l) {
    display: flex;
  }
}
.main-menu__item {
  padding: 1rem;
}

.main-menu__link {
  color: var(--text-color-light);
  margin-left: 1rem;

  @include from(l) {
    color: var(--text-color-main);
  }
}

.main-nav {
  height: calc(100vh - #{$header-height});
  width: 70vw;
  padding-top: 1rem;
  position: fixed;
  top: $header-height;
  right: -70vw;
  background-color: var(--highlight-color);
  transition: right 0.3s;
  z-index: var(--z-fixed);

  @include from(l) {
    position: static;
    background: transparent;
    padding-top: 0;
    height: auto;
    width: auto;
  }

  &.show {
    right: 0;
  }
}

.main-menu-toggle {
  $color: var(--highlight-color);
  width: 2.4rem;
  height: 1.8rem;
  background: linear-gradient(
    $color 20%,
    transparent 20% 40%,
    $color 40% 60%,
    transparent 60% 80%,
    $color 80%
  );
  cursor: pointer;

  @include from(l) {
    display: none;
  }
}
